*,
html,body{
    padding: 0;
    margin: 0;
}
.container{
    background-color: rgb(235, 255, 243);
    width: 100%;
    height: 100vh;
}
.navbar{
    background-color: white;
    width: 100%;
    height: 15%;
    position: fixed;
    display: flex;
    
}
.navbar img{
    display: inline-block;
    width: 25%;
    height: auto;
    margin-left: 5%;
}
.navbar ul{
    margin-top: 5%;
    text-align: right;
    width: 100%;
}
.navbar li{
    display: inline-block;
    margin-right: 2%;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.navbar li a:hover{
    background: blue;
    color: black;
}