*,
html,
body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Jockey One';
}
html {
  scroll-behavior: smooth;
}

/* ========================= Header-NAVBAR ========================= */
header{
  position: fixed;
  background: #FFFFFF;
  color: #222;
  font-family: 'Inter',sans-serif; font-size: 20px; 
  font-style: normal;font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  margin: 0 auto;
  z-index: 1000;
}

.logo{
  margin-right: auto;
  display: flex;
  padding-left: 20px;
}

.logo-img{
  width: 120px;
  height: 120px;
}

nav ul{
  display: flex;
  padding-right: 20%;
}

nav li{
  list-style-type:none;
  padding: 10px;
}

li a{
  transition: all.5s ease 0s;
  display: inline-block;
}

li a:hover{
  color: #F16B4E;
}

a{
  color: #222;
  text-decoration: none;
  margin: 0 20px;
}

@media screen and (max-width: 812px) { /* jadi kecil 33% */
  header{font-size: 13px; 
      height: 100px;
  }
  
  .logo{
      padding-left: 5px;
  }

  .logo-img{
      width: 80px; /* Sesuaikan ukuran logo untuk tampilan mobile */
      height: 80px;
  }

  nav {
      padding-top: 10px; 
  }

  a{
      margin: 0 10px;
  }
}
/* ========================= Header-NAVBAR ========================= */
/* ========================= FOOTER ========================= */
.footer {
  color: #525252;
  font-family: 'Open Sans';
  width: 100%;
  height: auto;
  background-color: rgb(179, 255, 219);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer h2{
  font-weight: 1000;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.footer ul{
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.footer li{
  font-size: 18px;
  list-style-type:none;
  padding-bottom: 15px;
}

.footer p{
  font-size: 14px;
  text-align: justify;
}

.footer ul li p{
  font-size: 14px;
  padding-left: 23px;
  padding-top: 1%;
}

.footer .item {
  margin: 5vh;
  width: 30%;
  height: auto;
  text-align: center;
  padding: 2%;
  text-align: left;
}

.third-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.logo-ikuti{
  margin: 4% 0;
  margin-right: 6%;
  flex-direction: row;
  
}
/* ========================= FOOTER ========================= */
.awalMateri {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.awal-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awal-left img {
  width: 70%;
  height: 50%;
}
.awal-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(43, 163, 107);
  font-size: 1.5rem;
  width: 50%;
  padding-top: 5%;
  font-family: 'Poppins';
}

.awal-right h1{
  padding-bottom: 10px;
}

.container-5o5m {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
}
.tombolBawah img{
  animation: kedip 2s infinite;
}

@keyframes kedip {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.isi-5o5m {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 194, 140);
  border-radius: 2rem;
  margin: auto;
}
#left-content,
#right-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  border-bottom: .1rem solid black;
}
#right-content img{
  width: 8%;
}

.isi-5o5m-kiri{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.isi-5o5m-kiri img{
  width: 48%;
  padding-left: 2%;
  height: auto;
}
.isi-5o5m-kiri h2{
  width: 50%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.isi-5o5m-kanan{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.isi-5o5m-kanan img{
  width: 48%;
  padding-left: 2%;
  height: auto;
}
.isi-5o5m-kanan h2{
  width: 50%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.isiContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: .1rem solid black;
  font-family: 'Poppins';
}
.isiContent a{
  text-decoration: none;
  color: rgb(255, 102, 75);
}
.isiContent img{
  width: 10%;
}
.deksContent {
  font-size: 1.2rem;
  width: 50%;
  margin-left: 2%;
}
.deksContent h2 {
  padding-bottom: 2%;
}
.rekomBuku {
  margin: 2%;
  font-family: 'Poppins';
}
.rekomBuku ul{
  display: flex;
  justify-content: center;
}
.rekomBuku ul li{
  padding-right: 5%;
  list-style: none;
  padding-top: 5%;
}
.rekomBuku ul li img{
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0);
}

.rekomBuku img:hover {
animation: none;
box-shadow: 0px 0px 20px rgba(84, 120, 187, 0.5);
transform: translateY(-10px);
}
.rekomBuku h2{
  padding-left: 5%;
}
.rekomBuku h4{
  padding-top: 2%;
  text-align: right;
  padding-right: 5%;
}
.isiContentYT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 40vh;
  font-family: 'Poppins';
}
.isiContentYT h2 {
  font-size: 2rem;
  display: inline-block;
  width: 50%;
}
.isiContentYT iframe {
  width: 50%;
  height: 100%;
}
.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

