*,
html,
body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: white;
  width: 100vw;
  height: 15%;
  position: fixed;
  display: flex;
  z-index: 1000;
  top: 0;
}
.navbar img {
  display: inline-block;
  width: 25%;
  height: auto;
  margin-left: 5%;
}
.navbar ul {
  margin-top: 5%;
  text-align: right;
  width: 100%;
  margin-right: 5%;
}
.navbar li {
  display: inline-block;
  margin-right: 2%;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.navbar li a:hover {
  background: lightblue;
  padding: 5%;
  color: white;
}
.footer {
  color: rgb(68, 68, 68);
  width: 100%;
  height: auto;
  background-color: rgb(179, 255, 219);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .item {
  margin: 5vh;
  width: 30%;
  height: auto;
  text-align: center;
  padding: 2%;
  text-align: left;
}
.awalMateri {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.awal-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awal-left img {
  width: 70%;
  height: 50%;
}
.awal-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(43, 163, 107);
  font-size: 2rem;
  width: 50%;
  padding-top: 5%;
}

.container-5o5m {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
}
.tombolBawah img{
  animation: kedip 2s infinite;
}

@keyframes kedip {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.isi-5o5m {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 194, 140);
  border-radius: 2rem;
  margin: auto;
}
#left-content,
#right-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  border-bottom: .1rem solid black;
}
#right-content img{
  width: 8%;
}

.isi-5o5m-kiri{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.isi-5o5m-kiri img{
  width: 48%;
  padding-left: 2%;
  height: auto;
}
.isi-5o5m-kiri h2{
  width: 50%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.isi-5o5m-kanan{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.isi-5o5m-kanan img{
  width: 48%;
  padding-left: 2%;
  height: auto;
}
.isi-5o5m-kanan h2{
  width: 50%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.isiContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-bottom: .1rem solid black;
}
.isiContent a{
  text-decoration: none;
  color: rgb(255, 102, 75);
}
.isiContent img{
  width: 10%;
}
.deksContent {
  font-size: 1.2rem;
  width: 50%;
  margin-left: 2%;
}
.deksContent h2 {
  padding-bottom: 2%;
}
.rekomBuku {
  margin: 2%;
}
.rekomBuku ul{
  display: flex;
  justify-content: center;
}
.rekomBuku ul li{
  padding-right: 5%;
  list-style: none;
  padding-top: 5%;
}
.rekomBuku h2{
  padding-left: 5%;
}
.rekomBuku h4{
  padding-top: 2%;
  text-align: right;
  padding-right: 5%;
}
.isiContentYT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 40vh;
}
.isiContentYT h2 {
  font-size: 2rem;
  display: inline-block;
  width: 50%;
}
.isiContentYT iframe {
  width: 50%;
  height: 100%;
}
.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

