*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter'
}

/* ========================= Header-NAVBAR ========================= */

header nav{
    background: #FFFFFF;
    position: fixed;
    color: #222;
    font-family: 'Inter',sans-serif; font-size: 20px; 
    font-style: normal;font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 0 auto;
    z-index: 1000;
    padding-bottom: 100px;
}

.logo{
    margin-right: auto;
    display: flex;
    padding-left: 20px;
}


.logo-img{
    width: 120px;
    height: 120px;
}

nav ul{
    display: flex;
}

nav li{
    list-style-type:none;
    padding: 10px;
}

li a{
    transition: all.5s ease 0s;
    display: inline-block;
}

li a:hover{
    color: #F16B4E;
}

a{
    color: #222;
    text-decoration: none;
    margin: 0 20px;
}

@media screen and (max-width: 812px) { /* jadi kecil 33% */
    header{font-size: 13px; 
        height: 100px;
    }
    
    .logo{
        padding-left: 5px;
    }

    .logo-img{
        width: 80px; /* Sesuaikan ukuran logo untuk tampilan mobile */
        height: 80px;
    }

    nav {
        padding-top: 10px; 
    }

    a{
        margin: 0 10px;
    }
}
/* ========================= Header-NAVBAR ========================= */


.second-header{
    color: rgba(4, 86, 12, 0.78);
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
    padding-bottom: 15px;
}

.second-header-bottom-element{
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.second-header-left-text{
    color: #000000;
}

.second-header-center-text{
    font-size: 14px;
    font-weight: 1000;
    color: #000000;
    margin: 0 8px;
}

.chatdokter{
    display: flex;
    text-align: left;
    background-color: #B4E5C8;
    color: #000;
    font-family: 'Inter',sans-serif;
    padding-top: 40px;
}

.cd-left-element,.cd-right-element {
    flex: 1;
}

  /* Mengatur lebar input */
  input[type="text"],
  input[type="email"] {
    width: 20%;
    padding: 2%;
    margin-bottom: 2%;
    border: 1% solid #ccc;
    border-radius: 1rem;
    font-size: 1.2rem;
    
  }

.chat-popup {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 30%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-header {
    background-color: #333;
    color: #fff;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #chat-tittle {
    margin: 0;
  }
  .close-chat {
    cursor: pointer;
  }
  
  .chat-content {
    padding: 2%;
  }
  
  .chat-messages {
    height: 50vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  #user-input {
    width: 80%;
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 2%;
  }
  
  #send-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 2.5% 4%;
    cursor: pointer;
  }
  .message {
    max-width: 80%;
    padding: 2%;
    margin: 2%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
  }
  
  .user-message {
    align-self: flex-end;
    background-color: #dcf8c6;
  }
  
  .bot-message {
    align-self: flex-start;
    background-color: #e0e0e0;
  }
  
  .timestamp {
    font-size: 0.6rem;
    color: #777;
    align-self: flex-end;
    margin-top: 1%;
  }
  input[type="text"]{
    margin-right: 2%;
  }
.tittle-cd{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 30px 60px;
}

.text-cd{
    font-weight: 200;
    margin: 30px 60px;
}

.img-cd1{
    padding-left: 80px;
}

.dokter{
    display: flex;
    flex: 1;
    padding: 30px;
}

.img-dr{
    margin: 0 20px;
}

.namadr{
    font-size: 20px;
    font-weight: 700;
}

.experiencedr{
    display: flex;
    flex: 1;
    padding: 20px 0;
}

.experiencedr p{
    padding: 0 12px;
}

.img-thumbup{
    padding-right: 10px;
}

.harga{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.bt-chat{
    font-size: 24px;
    padding: 12px 40px;
}

.isi-mengapa{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding-left: 80px;
    padding-bottom: 30px;
}

.mengapa-pic{
    padding-right: 100px;
}
.mengapa{
    padding: 5%;
}
/* ========================= FOOTER ========================= */
.footer {
    color: #525252;
    font-family: 'Open Sans';
    width: 100%;
    height: auto;
    background-color: rgb(179, 255, 219);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.footer h2{
    font-weight: 1000;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.footer ul{
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.footer li{
    font-size: 18px;
    list-style-type:none;
    padding-bottom: 15px;
}

.footer p{
    font-size: 14px;
    text-align: justify;
}

.footer ul li p{
    font-size: 14px;
    padding-left: 5px;
    padding-top: 1%;
}

.footer .item {
    margin: 5vh;
    width: 30%;
    height: auto;
    text-align: center;
    padding: 2%;
    text-align: left;
}

.third-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.logo-ikuti{
    margin: 4% -15px;
    padding: 0% -12%;
    flex-direction: row;
    
}
/* ========================= FOOTER ========================= */