*,
html,
body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins';
}
html {
  scroll-behavior: smooth;
}
/* ========================= Header-NAVBAR ========================= */
header{
  position: fixed;
  background: #FFFFFF;
  color: #222;
  font-family: 'Inter',sans-serif; font-size: 20px; 
  font-style: normal;font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  margin: 0 auto;
  z-index: 1000;
}

.logo{
  margin-right: auto;
  display: flex;
  padding-left: 20px;
}


.logo-img{
  width: 120px;
  height: 120px;
}

nav ul{
  display: flex;
  padding-right: 20%;
}

nav li{
  list-style-type:none;
  padding: 10px;
}

li a{
  transition: all.5s ease 0s;
  display: inline-block;
}

li a:hover{
  color: #F16B4E;
}

a{
  color: #222;
  text-decoration: none;
  margin: 0 20px;
}

@media screen and (max-width: 812px) { /* jadi kecil 33% */
  header{font-size: 13px; 
      height: 100px;
  }
  
  .logo{
      padding-left: 5px;
  }

  .logo-img{
      width: 80px; /* Sesuaikan ukuran logo untuk tampilan mobile */
      height: 80px;
  }

  nav {
      padding-top: 10px; 
  }

  a{
      margin: 0 10px;
  }
}
/* ========================= Header-NAVBAR ========================= */

/* ========================= FOOTER ========================= */
.footer {
  color: #525252;
  font-family: 'Open Sans';
  width: 100%;
  height: auto;
  background-color: rgb(179, 255, 219);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer h2{
  font-weight: 1000;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.footer ul{
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.footer li{
  font-size: 18px;
  list-style-type:none;
  padding-bottom: 15px;
}

.footer p{
  font-size: 14px;
  text-align: justify;
}

.footer ul li p{
  font-size: 14px;
  padding-left: 5px;
  padding-top: 1%;
}

.footer .item {
  margin: 5vh;
  width: 30%;
  height: auto;
  text-align: center;
  padding: 2%;
  text-align: left;
}

.third-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.logo-ikuti{
  margin: 4% -15px;
  padding: 0% -12%;
  flex-direction: row;
  
}
/* ========================= FOOTER ========================= */

#bookDetails{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#bookDetails .gambarBuku{
    width: 30%;
    height: 100vh;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15%;
    padding-left: 5%;;
}
#bookDetails img{
  width: 60%;
  height: 50%;
  box-shadow: 0px 0px 20px rgba(84, 120, 187, 0.5);
}

#bookDetails .deksripsi{
  width: 70%;
  margin-top: 15%;
  padding: 1%;
}
#bookDetails h2{
  font-size: 2.5rem;
}
#bookDetails h3{
  padding-top: 5%;
  font-size: 2rem;
}
#bookDetails p{
  font-size: 1.5rem;
}
.rekomBuku {
  margin: 2%;
}
.rekomBuku ul{
  display: flex;
  justify-content: center;
}
.rekomBuku ul li{
  padding-right: 5%;
  list-style: none;
  padding-top: 5%;
}
.rekomBuku h2{
  padding-left: 5%;
}
.rekomBuku h4{
  padding-top: 2%;
  text-align: right;
  padding-right: 5%;
}
.rekomBuku ul li img{
  width: 100%;
  height: auto;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0);
}

.rekomBuku img:hover {
animation: none;
box-shadow: 0px 0px 20px rgba(84, 120, 187, 0.5);
transform: translateY(-10px);
}
